<!DOCTYPE html>
<html ng-app="App">
<head>
<title>Demo</title>
<style>
	h1:first-letter,
	h2:first-letter {
		text-transform: capitalize;
	}

	.highlight {
		color: #fff;
		background-color: #00f;
	}
</style>
</head>
<body ng-controller="highlightDemo">
<h1>demo</h1>

<h2>search when typing</h2>
<input type="text" ng-model="keyword1" placeholder="keyword"/> {{keyword1}}
<div ng-highlight="keyword1">
	<p>AngularJS is an MVC framework for building web applications. The core
		features include HTML enhanced with custom component and data-binding
		capabilities, dependency injection and strong focus on simplicity,
		testability, maintainability and boiler-plate reduction.</p>
</div>

<h2>search on click</h2>

<form ng-submit="keyword2=searchText">
	<input type="text" ng-model="searchText" placeholder="keyword"/>
	<input type="submit" value="search"/>{{keyword2}}
</form>
<div ng-highlight="keyword2" hl-callback="searchDone">
	<h3>Why AngularJS?</h3>

	<p>HTML is great for declaring static documents, but it falters when we try to
		use it for declaring dynamic views in web-applications. AngularJS lets you
		extend HTML vocabulary for your application. The resulting environment is
		extraordinarily expressive, readable, and quick to develop.</p>

	<h3>Alternatives</h3>

	<p>Other frameworks deal with HTML's shortcomings by either abstracting away
		HTML, CSS, and/or JavaScript or by providing an imperative way for
		manipulating the DOM. Neither of these address the root problem that HTML
		was not designed for dynamic views.</p>

	<h3>Extensibility</h3>

	<p>AngularJS is a toolset for building the framework most suited to your
		application development. It is fully extensible and works well with other
		libraries. Every feature can be modified or replaced to suit your unique
		development workflow and feature needs. Read on to find out how.</p>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script type="text/javascript" src="js/ng-highlight.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
